
  <nav id="main-nav">
    <!-- Conteúdo do menu de navegação -->
    <div class="mainnav-title-container">
      <h1>SLACA 2019</h1>
    </div>
    <img src="../assets/images/logo.png" alt="Logo da empresa SLACA">
    <ul>
      <li class="mainnav-li"><a href="#">Apresentação</a></li>
      <li class="mainnav-li"><a href="#">Comitês</a></li>
      <li class="mainnav-li"><a href="#">Autores</a></li>
      <li class="mainnav-li"><a href="#">Eixos temáticos</a></li>
      <li class="mainnav-li"><a href="#">Trabalhos</a></li>
      <li class="mainnav-li"><a href="#">Contato</a></li>
    </ul>
  </nav>
  <div id="main-content">
    <header>
      <!-- Cabeçalho da seção -->
    </header>
    <main>
      <!-- Conteúdo principal da seção -->
    </main>
    <footer>
      <!-- Rodapé da seção -->
    </footer>
  </div>

