<div id="main-container">
  <div class="menu-side">
    <nav id="main-nav">
      <!-- Conteúdo do menu de navegação -->
      <div class="mainnav-title-container">
        <h1>SLACA 2019</h1>
      </div>
      <img src="../assets/images/logo.png" alt="Logo da empresa SLACA">
      <ul>
        <li class="mainnav-li"><a href="#">Apresentação</a></li>
        <li class="mainnav-li"><a href="#">Comitês</a></li>
        <li class="mainnav-li"><a href="#">Autores</a></li>
        <li class="mainnav-li"><a href="#">Eixos temáticos</a></li>
        <li class="mainnav-li"><a href="#">Trabalhos</a></li>
        <li class="mainnav-li"><a href="#">Contato</a></li>
      </ul>
    </nav>
  </div>
  <div id="main-content">
    <header>
      <!-- Cabeçalho da seção -->
      <div class="main-content-title">
        <p>Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
        <h2>
          Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
        </h2>
        <p>ISSN: 1234-5678</p>
      </div>
      <div class="main-content-avatar-language">
        <select name="language">
          <option value="PT-BR">PT-BR</option>
          <option value="EN-US">EN-US</option>
        </select>
        <div class="container-avatar">
          <div>
            <h5>Bem Vindo!</h5>
            <p>alguem12@galoascience.com</p>
          </div>
          <div class="avatar-perfil"></div>
        </div>
      </div>
    </header>
    <main>
      <!-- Conteúdo principal da seção -->
      <section class="main-container-section-1">
          <div class="sub-header-container">
              <div class="main-title-test">
                  <h2>
                    Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP
                  </h2>
              </div>
              <div class="icons-subheader">
                  <ul>
                      <li><a href="#"><img src="../assets/icons/Download.png" alt="Icon de download"> Download</a></li>
                      <li><a href="#"><img src="../assets/icons/Estrela.png" alt="Icon de estrela"></a></li>
                      <li><a href="#"><img src="../assets/icons/doi.png" alt="Icon escrito DOI"></a></li>
                  </ul>
              </div>
          </div>
          <div class="container-video">
            <div class="image-video">
              <img src="../assets/images/Video.jpg" alt="Capa do vídeo">
              <div class="overlay"></div>
              <h2>
                Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP
              </h2>
              <div class="avatar-video"></div>
              <div class="container-text">
                <h3>Beatriz Christiane Melo</h3>
                <p>FCA / Universidade Estadual de Campinas</p>
              </div>
            </div>
            <div class="details-video">
              <h4>Detalhes</h4>
              <div class="details-container-text">
                  <ul class="strong-list">
                    <li>
                      Tipo de Apresentação: <b>Postêr</b>
                    </li>
                    <li>
                      Eixo temático: <b>Alimentação e saúde (AS)</b>
                    </li>
                    <li>
                      Palavras-chave: <b>Alimentos funcionais, alimentação escolar</b>
                    </li>
                  </ul>
                  <ul class="strong-list">
                    <li>
                      <b>Autores</b>
                    </li>
                    <li>Galileu Galilei</li>
                    <li>Berta Lange de Morretes</li>
                    <li>Isaac Newton</li>
                    <li>Cesar Lattes</li>
                    <li>Steven Hawking</li>
                  </ul>
                  <ul class="transparently-list">
                    <li>Universidade Estadual de Campinas</li>
                    <li>Universidade de São Paulo</li>
                    <li>Instituto Nacional de Pesquisas Espacias</li>
                    <li>Universidade Federal do Rio de Janeiro</li>
                  </ul>
              </div>
            </div>
          </div>
      </section>
      <article class="container-resume">
          <h2>Resumo</h2>
          <div>
            <p>
              Phasellus vitae turpis auctor, mollis felis ut, commodo turpis.
              Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
              Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum.
              vel aliquet enim accumsan sit amet. Dut viverra lorem vestibulum ut.
              Phasellus condimentum orci id leo condimentum lobortis et non lorem.
              Quisque sollicitudin ligula in sapien scelerisque, eros vestibulum.
              Phasellus vitae turpis auctor, mollis felis ut, commodo turpis.
              Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
              <br><br>
              Phasellus vitae turpis auctor, mollis felis ut, commodo turpis.
              Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
              Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum.
              vel aliquet enim accumsan sit amet. Dut viverra lorem vestibulum ut.
              Phasellus condimentum orci id leo condimentum lobortis et non lorem.
              Quisque sollicitudin ligula in sapien scelerisque, eros vestibulum.
              Phasellus vitae turpis auctor, mollis felis ut, commodo turpis.
              Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
              <button class="btn-show-more">ver mais</button>
              <br><br>
              <span class="rest-text">
                Phasellus condimentum orci id leo condimentum lobortis et non lorem.
                Quisque sollicitudin ligula in sapien scelerisque, eros vestibulum.
                Phasellus vitae turpis auctor, mollis felis ut, commodo turpis.
                Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus.
                Fusce auctor eros sed magna ultricies gravida. Etiam aliquam dictum.
                <br><br>
                vel aliquet enim accumsan sit amet. Dut viverra lorem vestibulum ut.
                Phasellus condimentum orci id leo condimentum lobortis et non lorem.
                Quisque sollicitudin ligula in sapien scelerisque, eros vestibulum.
                Quisque sollicitudin ligula in sapien scelerisque, eros vestibulum.
                <button class=".btn-none">ver menos</button>
              </span>
            </p>
          </div>
      </article>
    </main>
    <footer>
      <!-- Rodapé da seção -->
    </footer>
  </div>
</div>