@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// Variables

$orange-slaca: rgba(237, 120, 57, 1);
$color-letters: #725C5C;
$background-page: #FDF1EB;
$orange-button: #ED7839;
$orange-background: #FDF1EB;

// Main Container

#main-container{
  display: flex;
  width: 100vw;
  height: 100vh;
}

// Main Nav

.menu-side{
  position: relative;
}

#main-nav{
  background-color: #FFFFFF;
  width: 15%;
  height: 100%;
  position: fixed;
  border-right: 1px solid #ccc;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;

}

.mainnav-title-container{
  background-color: $orange-slaca;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainnav-title-container h1{
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  color: #FFFFFF;
}

#main-nav img{
  width: 95%;
  max-height: 100%;
  height: auto;
  margin: 20px 0;
}

#main-nav ul{
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}

#main-nav ul li{
  padding: 14px 0;
  border-bottom: #ccc solid 2px;
}

#main-nav ul li:hover{
  background-color: $orange-background;
  border-left: $orange-slaca solid 6px;
  transition: 0.2s;
}

#main-nav ul li a{
  text-decoration: none;
  color: $color-letters;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  padding-left: 12px;
  font-size: 15px;
}

// Main Content

#main-content{
  position: absolute;
  left: 15%;
  width: calc(100% - 15%);
}

// Main Content Header

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: $orange-background;
}

.main-content-title{
  padding-left: 15px;
}

.main-content-title p{
  font-size: 15.5px;
  color: $color-letters;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.main-content-title h2{
  color: $color-letters;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 19.25px;
}

.main-content-avatar-language{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.main-content-avatar-language select{
  background-image: url(../assets/icons/internet_4386645.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-color: rgba(253, 241, 235, 0);
  padding-left: 30px;
  width: 95px;
  height: 35px;
  border-color: #CCCCCC;
  border-radius: 3px;
  font-family: 'Quicksand', sans-serif;
  margin-right: 20px;
}
c
.container-avatar{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-avatar div{
  display: inline-block;
}

.container-avatar h5{
  font-size: 12.5px;
  margin: 0px;
  color: $color-letters;
  font-family: 'Times New Roman', Times, serif;
}

.container-avatar p{
  font-size: 16px;
  color: $color-letters;
  margin-bottom: 0px;
  margin-top: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.avatar-perfil{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-image: url("../assets/images/Avatar.jpg");
  background-size: cover;
} 

// Sub Header

main{
  padding: 0px 30px;
}

.main-container-section-1{
  margin: 20px 0px;
}

.sub-header-container{
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.main-title-test{
  width: 75%;
}

.main-title-test h2{
  padding: 0px;
  margin: 0px;
  color: $orange-slaca;
  font-weight: 500;
}

.icons-subheader{
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.icons-subheader ul{
  display: flex;
  list-style-type: none;
  margin: 0px;
}

.icons-subheader ul li{
  background-color: $orange-button;
  margin: 3px;
  padding: 4px;
  height: 20px;
  border-radius: 3px;
}

.icons-subheader ul .icon-dowload{
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons-subheader ul li a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}

.icons-subheader ul img{
  width: 20px;
  height: 20px;
}

// Container Video

.container-video{
  display: flex;
  margin-top: 30px;
}

.image-video{
  width: 80%;
  margin-right: 40px;
  position: relative;
}

.image-video img{
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $orange-slaca;
  opacity: 0.5;
}

.image-video h2{
  position: absolute;
  top: 0;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-weight: 700;
}

.avatar-video{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: #ED7839 solid 2px;
  background-image: url("../assets/images/Avatar-Video.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  margin-left: 20px;
  margin-bottom: 60px;
}

.image-video .container-text{
  position: absolute;
  bottom: 0;
  padding-left: 150px;
  margin-bottom: 50px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.image-video .container-text h3{
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 0;
}

.details-video{
  background-color: #ED7839;
  width: 250px;
  border: #ccc solid 1px;
  border-radius: 5px;
}

.details-title{
  padding-left: 5px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 600;
  font-size: 24px;
  background-color: $orange-background;
  display: flex;
  align-items: center;
  height: 10%;
}

.details-container-text{
  border: #ccc solid 1px;
  height: 90%;
  background-color: #FFFFFF;
}

.strong-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 15px;
  font-family: 'Quicksand', sans-serif;
}

.transparently-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  color: #CCCCCC;
}

// Resume Section

.container-resume{
  border: #CCCCCC solid 1px;
}

.container-resume h2{
  border-bottom: #CCCCCC solid 1px;
  padding-left: 10px;
  background-color: $background-page;
  margin: 0;
  padding: 10px 0px;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
}

.container-resume p{
  padding-left: 10px;
  font-family: 'Quicksand', sans-serif;
}

.container-resume button{
  border: none;
  background: transparent;
  color: #ED7839;
  font-size: 14px;
  font-family: Quicksand;
}

.btn-show-more{
  font-size: 16px;
  font-weight: 600;
}

.btn-none{
  font-size: 16px;
  font-weight: 600;
}

// Comments Section

.comments-section{
  border: #ccc solid 1px;
  border-radius: 5px;
  margin: 20px 0;
}

.comments-section h2{
  border-bottom: #CCCCCC solid 1x;
  padding-left: 10px;
  background-color: $background-page;
  margin: 0;
  padding: 10px 0px;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
}

.container-comments-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 30px;
}

.comments-section-first-state{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  margin-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.comments-section-first-state h3{
  color: $orange-slaca;
  font-family: 'Roboto', sans-serif;
}

.container-comments-icons{
  display: flex;
  list-style: none;
  gap: 50px;
  padding-left: 0;
}

.container-comments-icons li img{
  width: 70px;
  height: auto;
}

.comments-section-first-state p{
  font-family: 'Quicksand', sans-serif;
  font-size: 15.5px;
}

.btn-create-topic{
  display: flex;
  align-items: center;
  background-color: $orange-button;
  padding: 1px 6px;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 17px;
}

.btn-create-topic img{
  width: 20px;
  margin: 5px;
  height: auto;
}

.comments-section-second-state{
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.comments-section-second-state form label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.comments-section-second-state form label input{
  width: 100%;
  height: 40px;
  border: #ccc solid 1px;
}

.comments-section-second-state form label textarea{
  width: 100%;
  height: 100px;
  resize: none;
  border: #ccc solid 1px;
  padding: 0;
}

.comments-section-second-state form div{
  display: flex;
  justify-content: flex-end;
  height: 40px;
  border: #ccc solid 1px;
}

.comments-section-second-state p{
  font-family: 'Quicksand', sans-serif;
  font-size: 15.5px;
}

.comments-section-second-state h3{
  color: $orange-slaca;
  font-family: 'Roboto', sans-serif;
}

.comments-section-second-state form div{
  background-color: #EAF1F2;
  width: 100%;
}

.comments-section-second-state form div button{
  background-color: $orange-button;
  width: 20%;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 700;
}